@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">

        <i class="bi bi-stack display-1 text-primary"></i>

        <h1 class="display-4 fw-bold">
            Bienvenido al Sistema de Biblioteca
        </h1>

    </div>
</div>
